registry=https://npm.uinnova.cn
sass_binary_site=http://npm.taobao.org/mirrors/node-sass
chromedriver_cdnurl=http://npm.taobao.org/mirrors/chromedriver
operadriver_cdnurl=http://npm.taobao.org/mirrors/operadriver
geckodriver_cdnurl=http://npm.taobao.org/mirrors/geckodriver
phantomjs_cdnurl=http://npm.taobao.org/mirrors/phantomjs
